:root {
  --header-nav-color: #2e2f42;
  --header-address-color: #434455;
  --main-title-color: #2e2f42;
  --secondary-title-color: #434455;
  --accent-color: #4d5ae5;
  --hero-footer-backgroud-color: #2e2f42;
  --hero-title-color: #ffffff;
  --team-background-color: #f4f4fd;
  --footer-desc-color: #e7e9fc;
  --logo-web-color: #4d5ae5;
  --logo-footer-studio-color: #f4f4fd;
  --logo-header-studio-color: #2e2f42;
}
/* ---------------- base styles--------------- */
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1158px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ---------------- header styles--------------- */
.header-container {
  display: flex;
}
.header {
}
.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-header-studio-color);
  text-decoration: none;
  margin-right: 76px;
}
.header-logo-span {
  color: var(--logo-web-color);
}
.header-logo:hover,
.header-logo:focus {
}

.header-list {
  display: flex;
  gap: 40px;
}
.header-list-item {
  font-weight: 500;
}
.header-list-link {
  text-decoration: none;
  color: var(--header-nav-color);
  padding: 24px 0;
  display: block;
}
.header-list-link:hover,
.header-list-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address-item {
}
.header-address-link {
  text-decoration: none;
  color: var(--header-address-color);
  display: block;
  padding: 24px 0;
}
.header-address-link:hover,
.header-address-linl:focus {
  color: #404bbf;
}
/* ------------- portfolio page main styles--------------- */
.portfolio-container {
}
.portfolio {
}

.portfolio-list {
  display: flex;
  padding-top: 96px;
  padding-left: 301px;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-list-item {
}
.portfolio-list-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px;
  border-color: #e7e9fc;
  padding: 12px 24px;
}
.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.portfolio-link {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 120px;
}

.portfolio-link:hover,
.portfolio-link:focus {
}

.portfolio-link-item {
  margin-bottom: 48px;
}
.portfolio-card {
  text-decoration: none;
}

.portfolio-cards-img {
}
.portfolio-cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-top: 32px;
  margin-botton: 8px;
}
.portfolio-cards-desc {
  color: var(--secondary-title-color);
  display: block;
  padding-bottom: 32px;
}
/* -------------  footer styles------------- */
.footer {
  background-color: var(--hero-footer-backgroud-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-studio-color);
  text-decoration: none;
  margin-bottom: 16px;
  display: block;
  padding-top: 100px;
}
.footer-logo-span {
  color: var(--logo-web-color);
}
.footer-desc {
  color: var(--footer-desc-color);
  margin-right: 864px;
  display: block;
  padding-bottom: 100px;
}
/* --------main page hero section styles----------------------- */
.hero-container {
}
.hero {
  background-color: var(--hero-footer-backgroud-color);
  padding: 472px 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
  margin: 0 316px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  display: block;
  padding: 16px 32px;
  margin-top: 48px;
  margin-left: 465px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ---------main page philosophy section styles------------------ */
.philosophy-container {
}
.philosophy {
}
.philosophy-list {
  display: flex;
  gap: 24px;
  margin-top: 120px;
}
.philosophy-list-item {
}
.philosophy-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.philosophy-item-desc {
  color: var(--secondary-title-color);
}
/* ------------main page what section styles--------------------------- */
.what {
}
.what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-top: 120px;
  margin-left: 403px;
  margin-bottom: 72px;
}
.what-list {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}
.what-list-item {
}
/* ------------main page team section styles---------------------------- */
.team {
  background-color: #f4f4fd;
}
/* .title-container {
  display: flex;
  width: 264px;
  margin-left: auto;
  margin-right: auto;
} */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-left: 483px;
  margin-bottom: 72px;
  display: block;
  padding-top: 120px;
}
.team-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.team-list-item {
  text-align: center;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-top: 32px;
  margin-bottom: 8px;
}
.team-item-desc {
  color: var(--secondary-title-color);
  margin-bottom: 32px;
}
